<div class="row">
  <div class="col-sm-12">
    <h4>Create new room</h4>
    <p>Enter a room name</p>
    <form
      name="newRoomForm"
      ng-submit="onNewRoomSubmit(newRoomForm.$valid)"
      novalidate>
      <div class="form-group">
        <input
          type="text"
          name="name"
          required
          class="form-control"
          ng-model="newRoom.name"
          ng-minlength="5">
      </div>
      
      <div class="form-group">
        <a href="#" class="btn btn-default" ng-click="onCancelClick($event)">Cancel</a>
        <button
          type="submit"
          class="btn btn-default"
          ng-disabled="newRoomForm.$invalid"
          ng-class="{disabled: newRoomForm.$invalid}">Submit</button>
      </div>
    </form>
  </div>
</div>