<div class="row">
  <div class="col-sm-12">
    <h4>Set a username</h4>
    <p>This name will appear when you send messages.</p>
    <form
      name="newUserForm"
      ng-submit="onNewUserSubmit(newUserForm.$valid)"
      novalidate>
      <div class="form-group">
        <input
          type="text"
          name="name"
          required
          class="form-control"
          ng-model="newUser.name"
          ng-minlength="4">
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-default"
          ng-disabled="newUserForm.$invalid"
          ng-class="{disabled: newUserForm.$invalid}">Set username</button>
      </div>
    </form>
  </div>
</div>